db.sqlite3
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3-journal
*.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover